@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
}

.container {
    background-color: white;
    box-shadow: 0px 2px 10px gray;
    width: 430px;
    height: 460px;
    border-radius: 25px;
    position: absolute;
    top: 10%;
    right: 35%;
    display: flex;
    flex-direction: column;

}

.close-window-div {
    text-align: right;
}

.close-window-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    font-size: 0px;
    margin-right: 10px;
    margin-top: 5px;
}

#text-question{
    margin: auto;
    font-weight: 700;
    margin-right: 40px;
    color: #151A41;
}

.content{
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.form-popup{
    display: flex;
    flex-direction: column; 
}

.value-button {
    width: 60px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    font-weight: bold;
}

.value-button:hover{
    background-color: #FF0099;
    box-shadow: 0px 15px 20px -8px gray; 
    color: white;
}

.boton-siguiente:hover{
    background-color: #FF0099;
    box-shadow: 0px 15px 20px -8px gray; 
    color: white;
}

.form-input{
    font-size: 0px;
    display: flex;
    gap: 4px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
}

.satisfecho{
    text-align: right;
}

.insatisfecho {
    text-align: left;
}

.form-terminos{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px inset rgba(148, 148, 148, 0.247);
    padding-bottom: 20px;


}

#aceptar-terminos{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border-color: gray;

}

.boton-siguiente {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 2px inset rgba(148, 148, 148, 0.185);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.flecha {
    width: 20px;
    position: fixed;
    right: 52%;
    top: 68%;
}